#parts {
  height: 100%;
  width: 100%;

}

/* #parts .head {
  margin: 1vw 0 0 3vw;
} */

#parts .form-p {
  display: flex;
  justify-content: center;
  align-items: center;
}


#parts .form-p .main-parts  {
  padding: 2vw;
  background-color: #0438358f;
  width: max-content;
  border: 2px solid #fff;
  border-radius: 7px;
}

#parts .form-p .main-parts #addpartstable tr td input {
  margin: 0.5vh 0 ;
  font-size: 1.2vw;
  background: #1d2b3a;



}

